# 1
`d = {'x': 10, 'y': 20, 'z': 30} `
1. Print what value y has
2. Print all the keys
3. Write a Python program to iterate over the dictionary using for loops, print every value.
4. Add 5 to each value in the dictonary
5. Can you use a dictionary comprehesion for above mentioned question?
6. Write a Python program to sum all the values in the dictionary.

In [30]:
d = {'x': 10, 'y': 20, 'z': 30}

## 1. Print what value y has

In [31]:
d['y']

20

## 2. Print all the keys

In [32]:
d.keys()

dict_keys(['x', 'y', 'z'])

## 3. Write a Python program to iterate over the dictionary using for loops, print every value.

In [33]:
for value in d.values():
    print(value)

#d.values()

10
20
30

## 4. Add 5 to each value in the dictonary

In [34]:
for k, v in d.items():
    d[k] = v+5
    
d

{'x': 15, 'y': 25, 'z': 35}

## 5. Can you use a dictionary comprehesion for above mentioned question?

In [35]:
list(map(lambda i: i, d.items()))

[('x', 15), ('y', 25), ('z', 35)]

In [36]:
[i for i in d.items()]

[('x', 15), ('y', 25), ('z', 35)]

## 6. Write a Python program to sum all the values in the dictionary.

In [37]:
sum(d.values())

75

# 2
1. How many unique cities does the dataset contain?
2. How many rows and columns does the dataset have?
3. How many unique cities does the dataframe contain?

In [39]:
import pandas as pd

## 1. How many unique cities does the dataset contain?

In [43]:
regions = pd.read_csv('data/coronavirusdataset/Region.csv')

regions.head()

,code,province,city,latitude,longitude,elementary_school_count,kindergarten_count,university_count,academy_ratio,elderly_population_ratio,elderly_alone_ratio,nursing_home_count
0,10000,Seoul,Seoul,37.566953,126.977977,607,830,48,1.44,15.38,5.8,22739
1,10010,Seoul,Gangnam-gu,37.518421,127.047222,33,38,0,4.18,13.17,4.3,3088
2,10020,Seoul,Gangdong-gu,37.530492,127.123837,27,32,0,1.54,14.55,5.4,1023
3,10030,Seoul,Gangbuk-gu,37.639938,127.025508,14,21,0,0.67,19.49,8.5,628
4,10040,Seoul,Gangseo-gu,37.551166,126.849506,36,56,1,1.17,14.39,5.7,1080

In [54]:
len(regions['city'].unique())

222

## 2. How many rows and columns does the dataset have?

In [50]:
cases = pd.read_csv('data/coronavirusdataset/Case.csv')

cases.head()

,case_id,province,city,group,infection_case,confirmed,latitude,longitude
0,1000001,Seoul,Guro-gu,True,Guro-gu Call Center,98,37.508163,126.884387
1,1000002,Seoul,Dongdaemun-gu,True,Dongan Church,20,37.592888,127.056766
2,1000003,Seoul,Guro-gu,True,Manmin Central Church,41,37.481059,126.894343
3,1000004,Seoul,Eunpyeong-gu,True,Eunpyeong St. Mary's Hospital,14,37.63369,126.9165
4,1000005,Seoul,Seongdong-gu,True,Seongdong-gu APT,13,37.55713,127.0403

In [52]:
cases.shape

(112, 8)

## 3. How many unique cities does the dataframe contain?

In [53]:
len(cases['city'].unique())

34

# 3
1. Prove the dataframe has no missing values
2. What percentage of the dataframe has information about a case in Seoul?
3. How many confirmed cases in Seoul?

## 1. Prove the dataframe has no missing values

In [84]:
# there are 112 entries and all columns is fill with 112 entries
cases.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112 entries, 0 to 111
Data columns (total 8 columns):
case_id           112 non-null int64
province          112 non-null object
city              112 non-null object
group             112 non-null bool
infection_case    112 non-null object
confirmed         112 non-null int64
latitude          112 non-null object
longitude         112 non-null object
dtypes: bool(1), int64(2), object(5)
memory usage: 6.3+ KB

In [88]:
cases[cases.isnull().any(1)]

Empty DataFrame
Columns: [case_id, province, city, group, infection_case, confirmed, latitude, longitude]
Index: []

## 2. What percentage of the dataframe has information about a case in Seoul?

In [82]:
# len(cases[cases.province == 'Seoul'] OR cases[cases.province == 'Seoul']['province'].count()
(len(cases[cases.province == 'Seoul']) * 100) / len(cases)

9.821428571428571

In [81]:
cases['province'].value_counts(normalize=True) * 100

Gyeongsangbuk-do     10.714286
Seoul                 9.821429
Gyeongsangnam-do      8.928571
Busan                 8.035714
Gyeonggi-do           8.035714
Daegu                 8.035714
Gangwon-do            5.357143
Sejong                5.357143
Daejeon               5.357143
Chungcheongnam-do     4.464286
Jeollanam-do          4.464286
Chungcheongbuk-do     4.464286
Incheon               4.464286
Gwangju               3.571429
Ulsan                 3.571429
Jeju-do               2.678571
Jeollabuk-do          2.678571
Name: province, dtype: float64

## 3. How many confirmed cases in Seoul?

In [83]:
cases[cases.province == 'Seoul']['confirmed'].sum()

565